{% extends "accounts/volunteer_dashboard.html" %}
{% block content %}
    <h1>Assign Batch Number</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="volunteer_id">Select Volunteer:</label>
        <select name="volunteer_id" id="volunteer_id">
            {% for volunteer in volunteers %}
            <option value="{{ volunteer.id }}">{{ volunteer.user.username }}</option>
            {% endfor %}
        </select>
        <button type="submit">Assign Batch Number</button>
    </form>
{% endblock %}
