# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.fvm/  # If using Flutter Version Manager

# Android related
/android/app/debug
/android/app/profile
/android/app/release
.android/
/gradle/
/local.properties
*.keystore  # Important: Never push your keystore file for security!

# iOS related
ios/.symlinks/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/.dart_tool/

# Obfuscation related
app.*.map.json
app.*.symbols

# Windows specific
Thumbs.db
desktop.ini

# Linux specific
*.swp
