# Ignore .env file
#.env

# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/

# Ignore documentation
docs/

# Ignore migrations
*/migrations/*

# Ignore Python bytecode files
*.pyc.env
.env
postgres/
