{% extends 'base/base.html' %}

{% block title %}About Us - Wesalvator{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text">About Wesalvator</h1>
    <p class="lead">Wesalvator is committed to rescuing and providing loving homes for animals in need. We work alongside dedicated volunteers and organizations to ensure the welfare of animals in our community.</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Our Mission</h3>
                </div>
                <div class="card-body text-start">
                    <p>We aim to create a world where animals are treated with love and respect. Our mission is to rescue animals from difficult situations and provide them with the care and shelter they deserve until they find their forever homes.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Our Vision</h3>
                </div>
                <div class="card-body text-start">
                    <p>We envision a society where animal cruelty is eradicated and where every animal is given the opportunity to live a safe and happy life with loving owners.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
